<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      th:with="title='Java Web Intro'">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Java Web Intro</title>
</head>
<body>
<header th:replace="fragments/header :: header(main, user)"></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col m12">
                <h1>Add/Edit Entry</h1>
                <form action="#" th:action="@{'/'+${entitytype}}" th:object="${entity}" th:attr="method=${method}">

                    <p th:if="*{id}!=null">Id: <input type="text" th:field="*{id}" th:value="*{id}"/></p>
                    <p>Name: <input type="text" th:field="*{name}" th:value="*{name}"/></p>
                    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>